.about-company {
    max-width: 1314px;
    margin: 0 auto;
    padding-bottom: 124px;
    padding-top: 49px;
}

.about-company__wrapper {
    padding-left: 183px;
    position: relative;

    margin-right: 76px;
    margin-left: 72px;
}

.about-company__wrapper h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
    color: #666666;
    margin-bottom: 19px;

    @include font-roboto;
}

.about-company__wrapper p {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #666666;

    @include font-ptmono;
}

.about-company__par-first {
    margin-bottom: 21px;
}

.about-company__par-second {
    margin-bottom: 0;
    padding-bottom: 72px;
}

.about-company__button {
    text-decoration: none;
    text-transform: uppercase;
    color: #00b2ff;
    font-size: 13px;
    font-weight: 700;
    border: 1px solid #00b2ff;
    border-radius: 5px;
    padding: 13px 47px;
    margin-top: 43px;
    cursor: auto;

    @include font-roboto;

    &:hover {
        background-color: #00b2ff;
        color: #ffffff;
        opacity: 0.8;
    }
}

.about-company__info {
    background-image: url("../images/year.jpg");
    background-repeat: no-repeat;
    background-size: 118px 328px;

    width: 113px;
    height: 328px;
    position: absolute;
    top: -3px;
    left: 5px;
}

.about-company__year {
    transform: rotate(-90deg);
    font-weight: bold;
    font-size: 149px;
    line-height: 120px;
    background: #ffffff;
    mix-blend-mode: lighten;

    position: absolute;
    top: 101px;
    left: -105px;

    @include font-roboto;
}

.about-company__tablet-text {
    display: none;
}

// tablet----------------------------------------------------------------------------
@media (max-width: $desktop-width) {
    .about-company {
        max-width: 1023px;
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 96px;
    }

    .about-company__wrapper {
        padding-left: 195px;
        padding-right: 44px;
        margin-left: 18px;
        margin-right: 0;
        max-width: 95%;
    }

    .about-company__wrapper p {
        line-height: 21px;
        font-size: 16px;
    }

    .about-company h2 {
        font-size: 30px;
        margin-bottom: 22px;
        margin-top: 20px;
    }

    .about-company__desktop-text {
        display: none;
    }

    .about-company__par-first {
        margin-bottom: 24px;
    }

    .about-company__par-second {
        padding-bottom: 59px;
        margin-top: 0;
    }

    .about-company__button {
        padding: 14px 53px 13px 48px;
        font-size: 12px;
    }

    .about-company__tablet-text {
        display: inline;
    }

    .about-company__info {
        background-size: 119px 355px;

        width: 119px;
        height: 355px;
        top: 6px;
        left: 18px;
    }

    .about-company__year {
        font-size: 162px;

        top: 122px;
        left: -103px;
    }
}

// mobile ----------------------------------------------------------------------------

@media (max-width: $tablet-width) {
    .about-company {
        padding-bottom: 79px;
        margin: 0 auto;

        @include max-width-767;
    }

    .about-company__wrapper {
        max-width: 90%;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }

    .about-company__wrapper h2 {
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 28px;
    }

    .about-company__wrapper p {
        font-size: 17px;
        margin-top: 15px;
    }

    .about-company__header {
        font-size: 28px;
        margin-left: 18px;
        margin-top: 0;
    }

    .about-company__par {
        margin-left: 18px;
    }

    .about-company__par-first {
        margin-bottom: 41px;
    }

    .about-company__par-second {
        padding-bottom: 41px;
    }

    .about-company__button {
        padding: 14px 51px;
    }

    .about-company__year {
        display: none;
    }

    .about-company__info {
        display: none;
    }
}
