.advantages {
    max-width: 1314px;
    margin: 0 auto;
}

.advantages__list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 27px;

    width: 100%;
    margin: 0 auto;
}

.advantages__item h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    color: #00b2ff;
    margin-top: 24px;

    @include font-roboto;
}

.advantages__item {
    font-size: 16px;
    border: 1px solid #ebebeb;
    border-left: 1px solid #00b2ff;
    background-color: #ffffff;
    width: 35%;

    margin-bottom: 30px;

    @include font-ptmono;

    &:hover {
        background-color: #00b2ff;
        cursor: pointer;
        color: #ffffff;
    }

    &:hover h2 {
        color: #ffffff;
    }

    &:hover .advantages__icon {
        fill: #ffffff;
    }
}

.advantages__item-stopwatch,
.advantages__item-hired,
.advantages__item-derective,
.advantages__item-tag {
    padding: 27px 42px 70px 44px;
}

.advantages__icon {
    fill: #00b2ff;

    &--stopwatch {
        width: 30px;
        height: 37px;
    }

    &--hired {
        width: 32px;
        height: 32px;
    }

    &--detective {
        width: 31px;
        height: 26px;
    }

    &--tag {
        width: 33px;
        height: 32px;
    }
}

.advantages-wrapper {
    padding-top: 117px;
    position: relative;
    overflow: hidden;
}

.advantages__item-stopwatch {
    position: relative;
}

.advantages__item-tag {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: -56px;
        left: 479px;
        width: 343px;
        height: 326px;
        background-image: url("../images/triangle-small-right.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 298px ​298px;
        z-index: -1;
    }
}

.advantages__img-triangle-small {
    position: absolute;
    top: -47px;
    left: -203px;
    width: 343px;
    height: 326px;
    background-image: url("../images/triangle-small-advantages.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 298px ​298px;
    z-index: -1;
}

.advantages__big-triangle-center {
    position: absolute;
    top: 271px;
    left: 484px;
    width: 723px;
    height: 700px;
    background-image: url("../images/left-triangle.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 636px ​640px;
    z-index: -1;
    transform: rotate(180deg);
}

.advantages__big-triangle-left {
    position: absolute;
    top: 355px;
    left: -321px;
    width: 723px;
    height: 700px;
    background-image: url("../images/left-triangle.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 636px ​640px;
    z-index: -1;
}

// tablet----------------------------------------------------------------------------

@media (max-width: $desktop-width) {
    .advantages__big-triangle-center {
        top: 372px;
        left: 103px;
    }

    .advantages__big-triangle-left,
    .advantages__img-triangle-small {
        display: none;
    }

    .advantages {
        margin: 0 auto;
    }

    .advantages__list {
        width: 93%;
        justify-content: space-between;
        column-gap: 27px;
    }

    .advantages__item {
        padding: 17px 20px 5px 24px;
        width: 41%;
    }

    .advantages__item h2 {
        font-size: 20px;
        margin-top: 7px;
        margin-bottom: 10px;
    }

    .advantages__item p {
        margin-top: 0;
        font-size: 18px;
        line-height: 22px;
        color: #666666;
    }

    .advantages-wrapper {
        margin-top: 55px;
        padding-bottom: 29px;
        padding-top: 0;
    }

    .advantages__item-tag {
        &::after {
            display: none;
        }
    }

    .advantages__item-stopwatch {
        padding-top: 21px;
    }

    .advantages__item-stopwatch h2 {
        margin-top: 0;
        padding-top: 2px;
    }

    .advantages__item-hired {
        padding-top: 21px;
    }

    .advantages__item-hired h2 {
        padding-top: 0;
    }

    .advantages__item-derective {
        padding-top: 25px;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .advantages__item-derective p {
        margin-bottom: 0;
        padding-bottom: 53px;
    }

    .advantages__item-derective h2 {
        margin-bottom: 15px;
    }

    .advantages__item-tag {
        padding-top: 22px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

// mobile ----------------------------------------------------------------------------

@media (max-width: $tablet-width) {
    .advantages__img-triangle-small,
    .advantages__big-triangle-left {
        display: none;
    }

    .advantages__big-triangle-center {
        left: 0;
        top: 862px;
    }

    .advantages-wrapper {
        max-width: 767px;
        margin-top: 37px;
        overflow: hidden;
        padding-bottom: 0;
    }

    .advantages {
        max-width: 767px;
        margin: 0 auto;
    }

    .advantages__list {
        width: 91%;
        justify-content: center;
        column-gap: 30px;
        margin-top: 0;
    }

    .advantages__item {
        margin-bottom: 20px;
        width: 100%;
    }

    .advantages__item h2 {
        letter-spacing: -1.2px;
        font-size: 20px;
        margin-top: 3px;
        margin-bottom: 7px;
    }

    .advantages__item p {
        letter-spacing: 1.7px;
        color: #666666;
        margin-top: 0;
        line-height: 22px;
        margin-bottom: 0;
        font-size: 15px;
    }

    .advantages__item-stopwatch {
        padding: 24px 14px 26px 26px;
    }

    .advantages__item-hired {
        padding: 25px 14px 10px 26px;
    }

    .advantages__item-derective {
        padding: 25px 14px 3px 26px;
    }

    .advantages__item-derective h2 {
        margin-bottom: 14px;
    }

    .advantages__item-tag {
        padding: 24px 14px 45px 26px;
    }

    .advantages__item-tag h2 {
        margin-bottom: 15px;
    }

    .advantages__item-tag p {
        letter-spacing: 0;
    }
}
