.footer-cover {
    border-bottom: 1px solid rgba(98, 105, 98, 0.2);
    padding-bottom: 38px;
}

// mobile ----------------------------------------------------------------------------

// tablet----------------------------------------------------------------------------

@media (max-width: $desktop-width) {
    .footer-cover {
        padding-bottom: 17px;
    }
}

@media (max-width: $tablet-width) {
    .footer-cover {
        padding-bottom: 0;
    }
}
